<nz-layout class="dashboard-content">
  <nz-sider [nzWidth]="250" nzCollapsible [nzBreakpoint]="'lg'" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="Home" nzIcon="home">
        <ul>
          <li nz-menu-item nzMatchRouter><a routerLink="/dashboard/welcome">Welcome</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Settings" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter><a routerLink="/dashboard/settings">User</a></li>
        </ul>
      </li>
      <li (click)="logout()" nz-menu-item>
        <i nz-icon nzType="logout"></i>
        <span>Log Out</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
      <ul class="nav-right">
        <li>
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                <nz-avatar nzIcon="user"></nz-avatar>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <li routerLink="/dashboard/settings" nz-menu-item>Edit Profile</li>
                  <li (click)="logout()" nz-menu-item>Log Out</li>
                </ul>
              </nz-dropdown-menu>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>Welcome</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Dashboard Design ©2019 Sisley Tech LLC</nz-footer>
  </nz-layout>
</nz-layout>
